.pagination {
    text-align: center;
}
.pagination ul{
    border:0;
    margin:0;
    padding:0;
}

.pagination li{
    border:0;
    margin:0;
    padding:0;
    font-size:11px;
    list-style:none;
    display:inline-block;
}
.pagination a{
    border:solid 1px #DDDDDD;
    margin-right:2px;
}

.pagination .previous,
.pagination .next {
    color:#666666;
    font-weight:bold;
}

.pagination .next a,
.pagination .previous a {
    font-weight:bold;
    border:solid 1px #FFFFFF;
}

.pagination .active{
    color:#ff0084;
}

.pagination .disabled {
    cursor: default;
    color: #bfbfbf;
    text-decoration: none;
}

.pagination .previous .left,
.pagination .next .right {
    width: 11px;
    height: 10px;
    line-height: 30px;
    display: inline-block;
    float: none;
    background-image: url(./ui-icons_454545_256x240.png);
}

.pagination .previous .left {
    background-position: -102px -19px;
}

.pagination .next .right {
    background-position: -32px -19px;
}

.pagination .previous:hover .left,
.pagination .next:hover .right {
    background-image: url(./ui-icons_0066cc_256x240.png);
}

.pagination .previous.disabled .left,
.pagination .previous.disabled:hover .left,
.pagination .next.disabled .right,
.pagination .next.disabled:hover .right {
    background-image: url(./ui-icons_aaaaaa_256x240.png);
}
