thead select {
    width: auto;
}

thead th.sorting,
thead th.sorting_desc,
thead th.sorting_asc {
    cursor: pointer;
}

thead th.sorting:hover:after,
thead th.sorting_desc:after,
thead th.sorting_asc:after {
    content: "";
    float: right;
    border-style: solid;
    position: relative;
    top: 6px;
}

thead th.sorting_desc,
thead th.sorting_asc {
    color: #222222;
}

thead th.sorting_desc:after,
thead th.sorting_asc:after {
    border-color: #222222 transparent;
}

thead th.sorting:after {
    border-color: #777777 transparent;
    border-width: 4px 4px 0 4px;
}

thead th.sorting_desc:after {
    border-width: 4px 4px 0 4px;
}

thead th.sorting_asc:after {
    border-width: 0 4px 4px 4px;
}

thead th:nth-child(2),
thead th:nth-child(3){
    width: 100px;
}

.sort-reverser {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    background: #fff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    border-width: 1px;
    border-style: solid;
    border-color: #cacaca #bdbdbd #aeaeae #bdbdbd;
    display: inline-block;
    float: left;
    position: relative;
    height: 17px;
    width: 24px;
    padding: 4px;
    margin: 3px 48px 0px 5px;
    cursor: pointer;
}

.sort-reverser .up,
.sort-reverser .down {
    content: "";
    border-style: solid;
    position: absolute;
    right: 11px;
}

.sort-reverser .up {
    border-width: 0 5px 5px 5px;
    top: 5px;
}

.sort-reverser .down {
    border-width: 5px 5px 0 5px;
    top: 15px;
}

.sort-reverser .down,
.sort-reverser.reverse:active .up,
.sort-reverser.reverse .up,
.sort-reverser:active .up {
    border-color: #3288e6 transparent;
}

.sort-reverser .up,
.sort-reverser.reverse:active .down,
.sort-reverser.reverse .down,
.sort-reverser:active .down {
    border-color: #8dbdf1 transparent;
}
.sort {
    float: left;
}

.sort-label {
    float: left;
    padding: 8px 0px 7px 13px;
    width: 72px;
}

.columns-label {
    float: left;
    padding: 8px 0px 7px;
    width: 60px;
}